/* *********** */
/* Base Styles */
/* *********** */


.top-bar {
  display: flex;
  display: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: #4056A1;
  color: #EFE2BA;
  padding: 0 1rem;
  max-width: 100%;
}

.top-bar a {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;  
}

ul {
  list-style-type: none;
  padding: 5px;
  font-size: 15px;
} 

.main-header  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.fact-box {
  display: grid;
  justify-self: center;
  align-self: center;
  background-color: #4056A1;
  color: whitesmoke;
  
  height: 8rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: 10px;
  background-color: #4056A1;
  color: whitesmoke;
  margin-top: 20px;
}



/* ********** */
/* **Layout** */
/* ********** */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-grow: 3;
  flex-wrap: wrap;
  font-size: large; 
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;

  max-width: 650px;
  height: auto;
}

.fact-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 27px;
}

.fact-container p{
  max-width: 75ch;
}

.card-container{

  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 25px 10px;
  justify-items: center;

}
/* *********************** */
/* Content in logo wrapper */
/* *********************** */

.logo-wrapper a {
  display: flex;
  align-items: center;
  transition: 300ms color;
}

.logo-wrapper p{
  font-size: 1.65rem;
  font-weight: bold;
}

.logo-wrapper i {
  font-size: clamp(3.5rem, 10vw, 4rem);
}
/* ********* */
/* **Cards** */
/* ********* */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  background-color: #D79922;
  border-radius: 5px;
}

.card h4 {
  font-size: 23px;
  color: #EFE2BA
}

.card p {
  max-width: 20ch;
  min-width: 10ch;
}
.card a {
  text-decoration: none;
  transition: 300ms background-color;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  margin: 2px 5px 2px 5px;
  padding: 5px 2px 5px 2px;
  border-radius: 3px;
  font-size: 13px
}

.btn {
  background-color: #f13c20;
  color: #EFE2BA;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 10px 0px 25px 0px;
  font-size: 25px;
}
