/* *********** */
/* Base Styles */
/* *********** */


.top-bar {
  display: flex;
  display: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: #F7B32BFF;
  color: white;
  padding: 0 1rem;
  max-width: 100%;
  margin-left:  
}

.top-bar a {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;  
}

ul {
  list-style-type: none;
  padding: 5px;
  font-size: 15px;
} 

.main-header  {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  border-radius: 8px;
  margin: 2rem 50px 2rem 50px;
  background-color: white;
  color: #E3170AFF;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: 10px;
  background-color: black;
  color: whitesmoke;
  margin-top: 20px;
}

/* ********** */
/* **Layout** */
/* ********** */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
}

.nav-links {
  display: flex;
  justify-content: space-around; 
  white-space: nowrap;
  flex-grow: 3;
  flex-wrap: wrap; 
}

h2 {
  display: flex;
  justify-content: center;
}

.img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;

  max-width: 600px;
  height: auto;
}

.fact-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  font-size: 30px;
}

.fact-container p{
  max-width: 75ch;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
/* *********************** */
/* Content in logo wrapper */
/* *********************** */
.logo-text {
  color: black;
}
.logo-wrapper a {
  display: flex;
  align-items: center;
  transition: 300ms color;
}

.logo-wrapper p{
  font-size: 1.65rem;
  color: #E3170AFF;
  font-weight: bold;
}

.logo-wrapper i {
  font-size: clamp(3.5rem,10vw,4rem);
  color: #E3170AFF;
  }

/* ********* */
/* **Cards** */
/* ********* */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  background-color: #A9E5BBFF;
  border-radius: 5px;
  max-width: 20ch;
}

.card h4 {
  font-size: clamp(0.8rem, 5vw, 2rem);
  color: rgb(107, 0, 247);
}

.card p {
  max-width: 30ch;
  min-width: 10ch;
}
.card a {
  text-decoration: none;
  transition: 300ms background-color;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  margin: 2px 5px 2px 5px;
  padding: 5px 2px 5px 2px;
  border-radius: 3px;
  font-size: 15px
}

.btn {
  background-color: #E3170AFF;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 10px 0px 25px 0px;
  font-size: 25px;
}
